html {
    height: 100%;
    font-family: 'Montserrat';

    display: grid;
    align-items: center;
    justify-items: center;

    --bg: #FCFCFC;
    --bg-panel: #EBEBEB;
    --color-headings: #0077FF;
    --color-text: #333333;
}

body {
    background-color: var(--bg);
}

.container {
    background-color: var(--bg-panel);

    margin: 5em;
    padding: 5em;

    border-radius: 15px;

    display: grid;
    grid-template-columns: 80% auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "title switch"
        "content content"
    ;
}

h1 {
    margin: 0 auto;
    color: var(--color-headings);
}


p {
    color: var(--color-text);
    grid-area: content;
    font-size: 1.1em;
    line-height: 1.8em;
    margin-top: 2em;
}

input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: grey;
    float: right;
    border-radius: 100px;
    position: relative;
    
}

label::after{
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + label {
    background-color: var(--color-headings);
}

input:checked + label::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 45px;
}



.list {
    position: absolute;
        top: 85%;
        left: 40%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        list-style: none;
        padding-left: 0;
        display: inline-flex;
    
}

.icon {
    color: white;
    font-size: 1em;
    padding: 0.5em;
    transition: all .2s ease-in-out; 
}
